container {
	margin: 2% 2%;
}

.row {
	margin-top: -3%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
	font-family: Arial;
}

.col-md-1 {
	width: 8%;
}

.col-md-2 {
	width: 17%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4 {
	width: 33%;
}

.col-md-5 {
	width: 42%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 58%;
}

.col-md-8 {
	width: 67%;
}

.col-md-9 {
	width: 75%;
}

.col-md-10 {
	width: 83%;
}

.col-md-11 {
	width: 92%;
}

.col-md-12 {
	width: 100%;
}

.table {
	width: 100%;
}

.tabledat {
	border-collapse: collapse;
	width: 100%;
}

.tabledat thead tr td, .tabledat thead tr th {
	text-align: left;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

.tabledat tbody tr th, .tabledat tbody tr td {
	text-align: left;
}
.cabecera{
	border-radius: 20px; 
	border: 2px solid #000000;
}
.left {
	text-align: left;
	vertical-align: middle;
}

.right {
	text-align: right;
	vertical-align: middle;
}

.center {
	text-align: center;
	vertical-align: middle;
}

.font_size_end{
	font-size: 10px;
}