server:
  port: 8081
  servlet:
    context-path: /v1.0/
spring:
  profiles: develop
#  datasource:
#    driverClassName: com.mysql.jdbc.Driver
#    url: jdbc:mysql://colsdigitaldbproduccionsalud.mysql.database.azure.com:3306/portalsalud?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
#    username: colsadmin@colsdigitaldbproduccionsalud
#    password: 123456789!aA
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://cols-db-digqa-util.mysql.database.azure.com:3306/portalsalud?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: colsadmin@cols-db-digqa-util
    password: 123456789!aA
    hikari:
      max-lifetime: 300000        
      maximumPoolSize: 100
      connectionTimeout: 3600000
  application:
    name: api-salud-citas-sinorden
    version: develop
  main: 
     allow-bean-definition-overriding: true
azure:
  application-insights: #cols-ai-digptest-empresas-backend
    instrumentation-key: d3c4e8a8-71f3-4cf4-a8fd-98ed2758e00f  
  storage: #colstssaludproduccion
    url-connection: DefaultEndpointsProtocol=https;AccountName=sttidev;AccountKey=XziMLd8xj/iVtS8kVJPiKHwWhUtkBQ2DqmoOhfjvoM+SGZxq56oA1cmhP1x4Xev7MZUVE+fCvikOP76kddUP+w==;EndpointSuffix=core.windows.net
    schedule: 
      table: ScheduleAppointment
      consult: "((State ne 'CREATE') and (State ne 'CANCELTASK') and (State ne 'CANCELAPLICATION') and (State ne 'ERRORCANCEL'))"
      minutes: 5
apigee:
#  url: https://colsubsidio-prod.apigee.net
  url: https://colsubsidio-test.apigee.net
  urlMock: http://www.mocky.io/v2/
  token:
    url: /oauth/client_credential/accesstoken
#    clienteId: 9ZajtAJ3i9BLMDri8UxTaQTsZFv47oo8
    clienteId: 5A0amJxdlqDKntk1HbMAW7IxNrOW2026
#    clienteSecreto: WHIaAwMCiMwrvZFp
    clienteSecreto: A3Wtl1gzqXUcM5rQ
    maxTimeInMillis: 300000 #300000 millis = 5 minutes
  path:
    auth: /oauth/client_credential/accesstoken
    logger: /api/v1/tecnologia/logger
    method: POST
colsubsidio:
  elasticSearch:
    index: api-citas-sinorden
    type: api-azure
    path: ind_sal_
    schedule: portal_agendamiento
  procedures:
    schedule: 
      insert: CALL PR_COLSSALUD_SCHEDULE_I_RESERVATION(:p_date, :p_order, :p_reservation, :p_specialty, :p_state, :p_type_document, :p_document_number, :p_data, :p_cancellation, :p_modified, :p_modified_by, :p_created, :p_created_by)
      update: CALL PR_COLSSALUD_SCHEDULE_U_RESERVATION(:p_order, :p_reservation, :p_specialty, :p_state, :p_type_document, :p_document_number, :p_cancellation, :p_modified, :p_modified_by)
      select: CALL PR_COLSSALUD_SCHEDULE_S_RESERVATION()
    logs:
      insert: CALL PR_COLSSALUD_I_LOGS(:accion, :message)
scheduled:
  agendamiento:
    tarea:
      enabled: true
      borrarcitas: 300000
changebenefitpatienttype:
  benefits:
    changebenefits:
      -
        code: 86VALORA
        description: Valoración Odontológica    
---
server:
  port: ${SERVER_PORT}
  servlet:
    context-path: /v1.0/
spring:
  profiles: release
  application:
    name: ${APP_NAME}
    version: ${APP_VERSION}
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: ${MYSQL_CONNECTION_SPRING}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    hikari:
      maximumPoolSize: 300   
azure:
  application-insights: 
    instrumentation-key: ${AZURE_INSIGHT_KEY} 
  storage: #colstssaludproduccion
    url-connection: ${AZURE_STORAGE_URL_CONNECTION}
    schedule: 
      table: ${AZURE_STORAGE_SCHEDULE_TABLE}
      consult: "${AZURE_STORAGE_SCHEDULE_CONSULT}"
      minutes: ${AZURE_STORAGE_SCHEDULE_MINUTE}    
apigee:
  url: ${APIGEE}
  token:
    url: /oauth/client_credential/accesstoken
    clienteId: ${APIGEE_CLIENT_ID}
    clienteSecreto: ${APIGEE_CLIENT_SECRET}
    maxTimeInMillis: 300000
  path:
    auth: /oauth/client_credential/accesstoken
    logger: /api/v1/tecnologia/logger
    method: POST  
colsubsidio:
  elasticSearch:
    index: ${ELASTICSEARCH_INDEX}
    type: ${ELASTICSEARCH_TYPE}
    path: ${ELASTICSEARCH_INDEX_PATH}
    schedule: ${ELASTICSEARCH_SCHEDULE_INDEX}      
  procedures:
    schedule: 
      insert: CALL PR_COLSSALUD_SCHEDULE_I_RESERVATION(:p_date, :p_order, :p_reservation, :p_specialty, :p_state, :p_type_document, :p_document_number, :p_data, :p_cancellation, :p_modified, :p_modified_by, :p_created, :p_created_by)
      update: CALL PR_COLSSALUD_SCHEDULE_U_RESERVATION(:p_order, :p_reservation, :p_specialty, :p_state, :p_type_document, :p_document_number, :p_cancellation, :p_modified, :p_modified_by)
      select: CALL PR_COLSSALUD_SCHEDULE_S_RESERVATION()
    logs:
      insert: CALL PR_COLSSALUD_I_LOGS(:accion, :message)    
scheduled:
  agendamiento:
    tarea:
      enabled: ${SCHEDULE_TASK_ENABLED}
      borrarcitas: ${SCHEDULE_TASK_CRON}      

changebenefitpatienttype:
  benefits:
    changebenefits:
      -
        code: ${CODEBENEFIT1}
        description: ${DESCRIPTIONBENEFIT1}
    