<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='tetx/html; charset=UTF-8' />
        <title>Laboratorios Clinicos</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
    </head>
    <body class='bodyContent' style='margin: 0; padding: 0; width:50em;'>
        <div align='center'  style=' height: auto;background: #1F005B; width: 60em; color: #153643; font-size: 0.8em; font-weight: bold; font-family: Arial, sans-serif;'>
            <div>
                <img style='width: auto; height: 50px;' src='https://www.colsubsidio.com/images/logo.png' alt=''/>
            </div>
        </div>
        <div  style='width:50em; height: auto; background: #F5F5F5; padding: 0px 50px 0px 50px;'>
            <div  style='width: 50em; height: auto; background: #ffffff;  padding: 40px 30px 40px 30px;'>
                <div border='0' cellpadding='0' cellspacing='0' width='50em'>
                    <div>
                        <div style='color: #34005B; text-align: center; font-family: Arial, sans-serif; font-size: 1em;'>
                            <h4>
                                Informaci&oacute;n Laboratorio Cl&iacute;nico
                            </h4>
                        </div>
                    </div>
                    <div style='display: inherit'>

                        <table>
                            <tr>
                                <td colspan='2'>
                                    <p><span style='color: #254061'>Estimado (a) usuario (a)&nbsp; <span></span> <!-- o ignored --></span></p>                                                                                                     
                                </td>
                            </tr>                            
                            <tr>
                                <td colspan='2' style='border: none; padding: .75pt .75pt .75pt .75pt'>
                                    <p><span style='color: #254061'>Te informamos que los resultados de tus exámenes de laboratorio clínico se encuentran en el archivo adjunto</span></p>
                                </td>
                            </tr> 
							<tr>
                                <td colspan='2' style='border: none; padding: .75pt .75pt .75pt .75pt'>
                                    <p><span style='color: #254061'>Gracias por utilizar nuestros servicios.</span></p>
									<hr>
                                </td>
                            </tr> 
							<tr>
                                <td colspan='2' style='border: none; padding: .75pt .75pt .75pt .75pt'>
                                    <p><b><span style='color: #254061'>IPS COLSUBSIDIO</span></b></p>
                                </td>
                            </tr> 
                        </table>
                    </div>    
                </div>
            </div>
        </div>
        <div style='width: 50em'>
            <div  style='background: #F4F2F3; padding: 30px 30px 30px 30px;'>
                <div border='0' cellpadding='0' cellspacing='0'>
                    <div>
                        <div   width=''>
                            <div border='0' cellpadding='0' cellspacing='0'>
                                <div style='display: flex' align='right' >
                                    <div style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                                        <a href='https://www.facebook.com/ColsubsidioInfo/' style='color: #1F005B;'>
                                            <img src='https://www.colsubsidio.com/uploads/2016/10/fb.png' alt='Facebook' width='38' height='38' style='display: block;' border='0' />
                                        </a>
                                    </div>
                                    <div style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                                        <a href='https://twitter.com/Colsubsidio_Ofi' style='color: #1F005B;'>
                                            <img src='https://www.colsubsidio.com/uploads/2016/10/tw.png' alt='Twitter' width='38' height='38' style='display: block;' border='0' />
                                        </a>
                                    </div>
                                    <div style='font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'>
                                        <a href='https://www.linkedin.com/company-beta/757002/' style='color: #1F005B;'>
                                            <img src='https://www.colsubsidio.com/uploads/2016/10/in.png' alt='Twitter' width='38' height='38' style='display: block;' border='0' />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </body>
</html>